@import "reset.css";
body {
    background-color: #e8e8e8;
    background: url("/img/lines.png") 50% 120px no-repeat;
}

.content {
    max-width: 841px;
    margin: 0 auto;
    padding: 106px 5% 137px 5%;
    position: relative;
}

.title {
    margin-top: 62px;
    text-align: center;
}

.title__travel {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0.6;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
}

.title__text {
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
}

.story {
    margin-top: 77px;
}

.story__img {
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 0px 15px 65px 0px;
}

.story__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}

.story__text {
    margin: 97px 30px 0 30px;
    opacity: 0.8;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
}

.story__text p {
    margin-bottom: 50px;
}

.story__text p:last-child {
    margin-bottom: 0px;
}

.list {
    margin: 64px 30px 0 30px;
}

.list__ticks {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    color: #273d46;
}

.list__ticks li {
    position: relative;
    padding-left: 30px;
}

.list__ticks li:first-child {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.list__ticks li:nth-child(2) {
    font-style: italic;
    color: #80b7b3;
}

.list__ticks li:nth-child(3) {
    font-weight: 700;
}

.list__ticks li:last-child {
    color: #adb4b7;
    text-decoration: line-through;
}

.list__ticks li::before {
    content: url("/img/icons/icon.png");
    position: absolute;
    top: 5px;
    left: 0px;
}

.list__button {
    margin-top: 59px;
}

.list__button a {
    display: inline-block;
    box-shadow: 0px 6px 20px 0px black;
    background-color: #80b7b3;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.list__button span {
    background: url("/img/icons/shape.png") right no-repeat;
    padding-right: 30px;
}